# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars
*.tfvars.json

# Secrets / credentials
*.csv
*.pem
*.key
.env
.env.*

# Kubernetes secrets
**/secret*.yaml

# OS / editors
.DS_Store
.vscode/

# Node.js
node_modules/
